IO_LOC "leds[0]" J14;
IO_LOC "leds[1]" R26;
IO_LOC "leds[2]" L20;
IO_LOC "leds[3]" M25;
IO_LOC "leds[4]" N21;
IO_LOC "leds[5]" N23;
IO_PORT "leds[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "leds[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "leds[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "leds[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "leds[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "leds[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "sw1" K16;
IO_PORT "sw1" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "sw2" F15;
IO_PORT "sw2" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "sw3" G15;
IO_PORT "sw3" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "sw4" G16;
IO_PORT "sw4" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "sfp_tx_disable[0]" R18;
IO_PORT "sfp_tx_disable[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sfp_tx_disable[1]" M20;
IO_PORT "sfp_tx_disable[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "sfp_los[0]" V18;
IO_PORT "sfp_los[0]" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "sfp_los[1]" W18;
IO_PORT "sfp_los[1]" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;