//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.10.03 (64-bit)
//Part Number: GW5AST-LV138FPG676AC1/I0
//Device: GW5AST-138
//Device Version: B
//Created Time: Tue 11 19 22:33:12 2024

IO_LOC "KEY[2]" G15;
IO_PORT "KEY[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "KEY[1]" F15;
IO_PORT "KEY[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "KEY[0]" K16;
IO_PORT "KEY[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED[2]" M25;
IO_PORT "LED[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED[1]" L20;
IO_PORT "LED[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED[0]" R26;
IO_PORT "LED[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "FLASH_SPI_WPN" P14;
IO_PORT "FLASH_SPI_WPN" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "FLASH_SPI_HOLDN" N14;
IO_PORT "FLASH_SPI_HOLDN" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "FLASH_SPI_CLK" H13;
IO_PORT "FLASH_SPI_CLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "FLASH_SPI_MOSI" R14;
IO_PORT "FLASH_SPI_MOSI" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "FLASH_SPI_MISO" R15;
IO_PORT "FLASH_SPI_MISO" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "FLASH_SPI_CSN" P18;
IO_PORT "FLASH_SPI_CSN" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DDR3_BANK[2]" K3;
IO_PORT "DDR3_BANK[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_BANK[1]" L5;
IO_PORT "DDR3_BANK[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_BANK[0]" M4;
IO_PORT "DDR3_BANK[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[14]" U5;
IO_PORT "DDR3_ADDR[14]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[13]" U2;
IO_PORT "DDR3_ADDR[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[12]" N3;
IO_PORT "DDR3_ADDR[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[11]" P4;
IO_PORT "DDR3_ADDR[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[10]" M1;
IO_PORT "DDR3_ADDR[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[9]" T3;
IO_PORT "DDR3_ADDR[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[8]" T4;
IO_PORT "DDR3_ADDR[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[7]" U1;
IO_PORT "DDR3_ADDR[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[6]" N4;
IO_PORT "DDR3_ADDR[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[5]" T2;
IO_PORT "DDR3_ADDR[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[4]" P1;
IO_PORT "DDR3_ADDR[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[3]" N2;
IO_PORT "DDR3_ADDR[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[2]" R2;
IO_PORT "DDR3_ADDR[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[1]" R1;
IO_PORT "DDR3_ADDR[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_ADDR[0]" N1;
IO_PORT "DDR3_ADDR[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_ODT" J1;
IO_PORT "DDR3_ODT" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_CKE" L3;
IO_PORT "DDR3_CKE" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_WE_N" J3;
IO_PORT "DDR3_WE_N" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_CAS_N" H1;
IO_PORT "DDR3_CAS_N" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_RAS_N" H2;
IO_PORT "DDR3_RAS_N" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_CS_N" L4;
IO_PORT "DDR3_CS_N" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_RESET_N" N8;
IO_PORT "DDR3_RESET_N" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_CK" M2,L2;
IO_PORT "DDR3_CK" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DM[3]" A3;
IO_PORT "DDR3_DM[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DM[2]" E3;
IO_PORT "DDR3_DM[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DM[1]" H9;
IO_PORT "DDR3_DM[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DM[0]" F4;
IO_PORT "DDR3_DM[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[31]" D1;
IO_PORT "DDR3_DQ[31]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[30]" G1;
IO_PORT "DDR3_DQ[30]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[29]" E2;
IO_PORT "DDR3_DQ[29]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[28]" F2;
IO_PORT "DDR3_DQ[28]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[27]" C2;
IO_PORT "DDR3_DQ[27]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[26]" G2;
IO_PORT "DDR3_DQ[26]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[25]" A2;
IO_PORT "DDR3_DQ[25]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[24]" E1;
IO_PORT "DDR3_DQ[24]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[23]" D4;
IO_PORT "DDR3_DQ[23]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[22]" A4;
IO_PORT "DDR3_DQ[22]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[21]" D5;
IO_PORT "DDR3_DQ[21]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[20]" D3;
IO_PORT "DDR3_DQ[20]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[19]" E5;
IO_PORT "DDR3_DQ[19]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[18]" B4;
IO_PORT "DDR3_DQ[18]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[17]" F3;
IO_PORT "DDR3_DQ[17]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[16]" C4;
IO_PORT "DDR3_DQ[16]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[15]" F7;
IO_PORT "DDR3_DQ[15]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[14]" G6;
IO_PORT "DDR3_DQ[14]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[13]" F8;
IO_PORT "DDR3_DQ[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[12]" D6;
IO_PORT "DDR3_DQ[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[11]" G8;
IO_PORT "DDR3_DQ[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[10]" H6;
IO_PORT "DDR3_DQ[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[9]" H8;
IO_PORT "DDR3_DQ[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[8]" E6;
IO_PORT "DDR3_DQ[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[7]" K6;
IO_PORT "DDR3_DQ[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[6]" K8;
IO_PORT "DDR3_DQ[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[5]" J5;
IO_PORT "DDR3_DQ[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[4]" K7;
IO_PORT "DDR3_DQ[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[3]" G5;
IO_PORT "DDR3_DQ[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[2]" L8;
IO_PORT "DDR3_DQ[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[1]" J6;
IO_PORT "DDR3_DQ[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQ[0]" G4;
IO_PORT "DDR3_DQ[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQS[3]" C1,B1;
IO_PORT "DDR3_DQS[3]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQS[2]" B5,A5;
IO_PORT "DDR3_DQS[2]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQS[1]" H7,G7;
IO_PORT "DDR3_DQS[1]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR3_DQS[0]" J4,H4;
IO_PORT "DDR3_DQS[0]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "TDO_OUT" U14;
IO_PORT "TDO_OUT" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DDR3_ADDR[15]" M6;
IO_PORT "DDR3_ADDR[15]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC "DDR3_INIT" N23;
IO_PORT "DDR3_INIT" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "UART2_TXD" U16;
IO_PORT "UART2_TXD" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "TDI_IN" P23;
IO_PORT "TDI_IN" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "TRST_IN" P21;
IO_PORT "TRST_IN" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "TMS_IN" W21;
IO_PORT "TMS_IN" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "TCK_IN" Y21;
IO_PORT "TCK_IN" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "UART2_RXD" V16;
IO_PORT "UART2_RXD" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "RSTN" G16;
IO_PORT "RSTN" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "CLK" P16;
IO_PORT "CLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_ctrl/ctrl_cs_r_0_s0" R52C142[2][B];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_ctrl/ctrl_cs_r_1_s0" R52C142[0][A];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_ctrl/ctrl_cs_r_3_s0" R52C142[3][A];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_ctrl/ctrl_cs_r_2_s0" R52C142[1][A];
INS_LOC "u_gw_ahb_ddr3_top/u_gw_ahb_ddr3/u_DDR3_Memory_Interface_Top/gw3_top/u_ddr_phy_top/u_dll" DDRDLLM_BL;
INS_LOC "u_Gowin_PLL_DDR3/PLL_inst" PLL_L[0];
//INS_LOC "u_Gowin_PLL_AE350/PLL_inst" PLL_R[0];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_fifo/u_spi_rxfifo/gray_rd_ptr_1_s0" R53C132[3][B];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_fifo/u_spi_rxfifo/gray_rd_ptr_2_s0" R53C133[3][B];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_fifo/u_spi_rxfifo/gray_rd_ptr_3_s0" R53C134[3][B];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_fifo/u_spi_rxfifo/gray_rd_ptr_4_s0" R54C131[3][B];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_fifo/u_spi_rxfifo/gray_rd_ptr_5_s0" R54C132[3][B];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_fifo/u_spi_rxfifo/gray_rd_ptr_6_s0" R54C133[3][B];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_fifo/u_spi_rxfifo/gray_rd_ptr_7_s0" R54C134[3][B];
//INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_flash_top/u_gwspiflash/u_spi_fifo/u_spi_rxfifo/gray_rd_ptr_0_s0" R53C131[3][B];
INS_LOC "u_gw_ahb_ddr3_top/u_gw_ahb_ddr3/u_DDR3_Memory_Interface_Top/gw3_top/u_ddr_phy_top/fclkdiv" LEFTSIDE[4];
