
//Tang_MEGA_138K_Pro_Dock
//GW5AST-LV138FPGA676AES
//GW5AST-138
//B

IO_LOC "CLK"    P16;        //EMC_CLK
IO_LOC "RSTN"   G16;        //S3

//LED
IO_LOC "LED[0]" R26;        //LED1
IO_LOC "LED[1]" L20;        //LED2
IO_LOC "LED[2]" M25;        //LED3

//KEY
IO_LOC "KEY[0]" K16;        //S0
IO_LOC "KEY[1]" F15;        //S1
IO_LOC "KEY[2]" G15;        //S2

//UART2
IO_LOC "UART2_TXD" U16;     //1
IO_LOC "UART2_RXD" V16;     //2

//JTAG
IO_LOC "TMS_IN"     W21;    //5  p4
IO_LOC "TCK_IN"     Y21;    //6  p6
IO_LOC "TRST_IN"    P21;    //7  p10
IO_LOC "TDO_OUT"    U14;    //8  p11
IO_LOC "TDI_IN"     P23;    //9  p12

//SPI-Flash Memory
IO_LOC "FLASH_SPI_CSN"    P18;
IO_LOC "FLASH_SPI_CLK"    H13;
IO_LOC "FLASH_SPI_MOSI"   R14;    //DO[0] DI
IO_LOC "FLASH_SPI_MISO"   R15;    //DO[1] DO
IO_LOC "FLASH_SPI_WPN"    P14;    //DO[2]
IO_LOC "FLASH_SPI_HOLDN"  N14;    //DO[3]

//DDR3 Memory
IO_LOC "DDR3_INIT"     N23;	      //LED5
IO_LOC "DDR3_CK"       M2, L2;
IO_LOC "DDR3_RESET_N"  N8;
IO_LOC "DDR3_ODT"      J1; 
IO_LOC "DDR3_CAS_N"	   H1;
IO_LOC "DDR3_WE_N"	   J3;
IO_LOC "DDR3_CKE"	   L3;
IO_LOC "DDR3_RAS_N"	   H2;
IO_LOC "DDR3_DM[0]"    F4;
IO_LOC "DDR3_DM[1]"    H9;
IO_LOC "DDR3_DQS[0]"   J4, H4;
IO_LOC "DDR3_DQS[1]"   H7, G7;
IO_LOC "DDR3_BANK[0]"  M4;
IO_LOC "DDR3_BANK[1]"  L5;
IO_LOC "DDR3_BANK[2]"  K3;
IO_LOC "DDR3_ADDR[0]"  N1;
IO_LOC "DDR3_ADDR[1]"  R1;
IO_LOC "DDR3_ADDR[2]"  R2;
IO_LOC "DDR3_ADDR[3]"  N2;
IO_LOC "DDR3_ADDR[4]"  P1;
IO_LOC "DDR3_ADDR[5]"  T2;
IO_LOC "DDR3_ADDR[6]"  N4;
IO_LOC "DDR3_ADDR[7]"  U1;
IO_LOC "DDR3_ADDR[8]"  T4;
IO_LOC "DDR3_ADDR[9]"  T3;
IO_LOC "DDR3_ADDR[10]" M1;
IO_LOC "DDR3_ADDR[11]" P4;
IO_LOC "DDR3_ADDR[12]" N3;
IO_LOC "DDR3_ADDR[13]" U2;
IO_LOC "DDR3_DQ[0]"    G4;
IO_LOC "DDR3_DQ[1]"    J6;
IO_LOC "DDR3_DQ[2]"    L8;
IO_LOC "DDR3_DQ[3]"    G5;
IO_LOC "DDR3_DQ[4]"    K7;
IO_LOC "DDR3_DQ[5]"    J5;
IO_LOC "DDR3_DQ[6]"    K8;
IO_LOC "DDR3_DQ[7]"    K6;
IO_LOC "DDR3_DQ[8]"    E6;
IO_LOC "DDR3_DQ[9]"    H8;
IO_LOC "DDR3_DQ[10]"   H6;
IO_LOC "DDR3_DQ[11]"   G8;
IO_LOC "DDR3_DQ[12]"   D6;
IO_LOC "DDR3_DQ[13]"   F8;
IO_LOC "DDR3_DQ[14]"   G6;
IO_LOC "DDR3_DQ[15]"   F7;
IO_LOC "DDR3_CS_N"     L4;
IO_PORT "DDR3_INIT"      PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "DDR3_WE_N"      IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_CAS_N"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_CKE"       IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_RAS_N"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ODT"       IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_RESET_N"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_CK"        IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DM[0]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DM[1]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQS[0]"    IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQS[1]"    IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_BANK[0]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_BANK[1]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_BANK[2]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[0]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[1]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[2]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[3]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[4]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[5]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[6]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[7]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[8]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[9]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[10]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[11]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[12]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[13]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[0]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[1]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[2]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[3]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[4]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[5]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[6]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[7]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[8]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[9]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[10]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[11]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[12]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[13]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[14]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[15]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_CS_N"      IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
INS_LOC "u_gw_ahb_ddr3_top/u_gw_ahb_ddr3/u_DDR3_Memory_Interface_Top/gw3_top/u_ddr_phy_top/u_dll" DDRDLLM_BL;
INS_LOC "u_gw_ahb_ddr3_top/u_gw_ahb_ddr3/u_DDR3_Memory_Interface_Top/gw3_top/u_ddr_phy_top/fclkdiv" LEFTSIDE[4];
SET_PARAM "u_gw_ahb_ddr3_top/u_gw_ahb_ddr3/u_DDR3_Memory_Interface_Top/gw3_top/u_ddr_phy_top/u_dll" CLKIN_SEL=CLKIN5;
INS_LOC "u_Gowin_PLL_DDR3/PLL_inst" PLL_L[0]

INS_LOC "u_Gowin_PLL_AE350/PLL_inst" PLL_R[0]