IO_LOC "lcd_g[5]" J16;
IO_LOC "lcd_g[4]" K15;
IO_LOC "lcd_g[3]" F22;
IO_LOC "lcd_g[2]" G22;
IO_LOC "lcd_g[1]" G21;
IO_LOC "lcd_g[0]" G20;

IO_LOC "lcd_b[5]" F20;
IO_LOC "lcd_b[4]" G19;
IO_LOC "lcd_b[3]" F19;
IO_LOC "lcd_b[2]" F18;
IO_LOC "lcd_b[1]" M17;
IO_LOC "lcd_b[0]" M16;

IO_LOC "lcd_r[5]" H19;
IO_LOC "lcd_r[4]" J19;
IO_LOC "lcd_r[3]" G25;
IO_LOC "lcd_r[2]" H18;
IO_LOC "lcd_r[1]" J18;
IO_LOC "lcd_r[0]" K17;

IO_LOC "lcd_en" A24;
IO_LOC "lcd_clk" H21;
IO_LOC "clk" P16;
IO_LOC "rst_n" G16;

IO_PORT "lcd_g[5]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_g[4]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_g[3]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_g[2]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_g[1]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_g[0]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_b[5]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_b[4]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_b[3]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_b[2]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_b[1]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_b[0]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_r[5]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_r[4]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_r[3]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_r[2]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_r[1]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_r[0]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_PORT "lcd_en" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "lcd_clk" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "rst_n" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
