IO_LOC "tmds_d_p_0[0]" AB24,AC24;
IO_PORT "tmds_d_p_0[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p_0[1]" V24,W24;
IO_PORT "tmds_d_p_0[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p_0[2]" AA22,AA23;
IO_PORT "tmds_d_p_0[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_clk_p_0" Y22,Y23;
IO_PORT "tmds_clk_p_0" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;

//IO_LOC "tmds_d_p_1[0]" D19,C19;
//IO_PORT "tmds_d_p_1[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
//IO_LOC "tmds_d_p_1[1]" M15,L15;
//IO_PORT "tmds_d_p_1[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
//IO_LOC "tmds_d_p_1[2]" J25,J26;
//IO_PORT "tmds_d_p_1[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
//IO_LOC "tmds_clk_p_1" K20,J20;
//IO_PORT "tmds_clk_p_1" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;

IO_LOC "resetn" G16;
IO_PORT "resetn" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF;
IO_LOC "clk" P16;
IO_PORT "clk"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF;