//================IO 位置设置==================================

IO_LOC "rst_n" 		G16;
IO_LOC "sys_clk" 	P16;

//============ 
IO_LOC "RGMII_GTXCLK" 	H24;
IO_LOC "PHY_CLK" 		E18;
IO_LOC "RGMII_TXD[0]" 	K21;
IO_LOC "RGMII_TXD[1]" 	J21;
IO_LOC "RGMII_TXD[2]" 	L19;
IO_LOC "RGMII_TXD[3]" 	K18;
IO_LOC "RGMII_TXEN"  	J24;
IO_LOC "RGMII_RST_N"  	E17;

//================IO 电平设置==================================
IO_PORT "rst_n" IO_TYPE=LVCMOS33;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33;

IO_PORT "RGMII_GTXCLK" IO_TYPE=LVCMOS33;
IO_PORT "PHY_CLK" IO_TYPE=LVCMOS33;
IO_PORT "RGMII_TXD[0]" IO_TYPE=LVCMOS33;
IO_PORT "RGMII_TXD[1]" IO_TYPE=LVCMOS33;
IO_PORT "RGMII_TXD[2]" IO_TYPE=LVCMOS33;
IO_PORT "RGMII_TXD[3]" IO_TYPE=LVCMOS33;
IO_PORT "RGMII_TXEN" IO_TYPE=LVCMOS33;
IO_PORT "RGMII_RST_N" IO_TYPE=LVCMOS33;
